<section
  id="hero"
  class="flex flex-col justify-center items-center text-[40px] sm:text-6xl lg:text-8xl font-bold select-none my-12"
>
  <h1 class="text-[#343140]">Start your SaaS</h1>
  <h2 class="text-primary">with Angular!</h2>
  <p class="max-w-[610px] font-normal text-xl text-center text-[#737778] mt-3">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras congue mi
    magna, vel pellentesque libero vestibulum nec. Ut interdum nibh in rutrum
    lobortis.
  </p>
</section>
<div
  class="flex flex-col md:flex-row justify-center items-center font-medium text-[#737778] flex-wrap gap-6"
>
  <div class="flex items-center gap-2">
    <i class="fa-solid fa-check text-primary"></i>
    <span>Lorem ipsum dolor sit amet</span>
  </div>
  <div class="flex items-center gap-2">
    <i class="fa-solid fa-check text-primary"></i>
    <span>Lorem ipsum dolor sit amet</span>
  </div>
  <div class="flex items-center gap-2">
    <i class="fa-solid fa-check text-primary"></i>
    <span>Lorem ipsum dolor sit amet</span>
  </div>
</div>
