<section id="hero">
  <article
    class="flex flex-col justify-center items-center text-[38px] sm:text-6xl lg:text-8xl font-bold select-none my-16"
  >
    <h1 class="text-[#343140]">Start your SaaS</h1>
    <h2 class="text-primary">with Angular!</h2>
    <p
      class="max-w-[610px] font-normal text-xl text-center text-[#636869] mt-3"
    >
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras congue mi
      magna, vel pellentesque libero vestibulum nec. Ut interdum nibh in rutrum
      lobortis.
    </p>
  </article>
  <article
    class="flex flex-col md:flex-row justify-center items-center font-medium text-[#636869] flex-wrap gap-6"
  >
    <div class="flex items-center gap-2">
      <i class="fa-solid fa-check text-primary"></i>
      <span>Lorem ipsum dolor sit amet</span>
    </div>
    <div class="flex items-center gap-2">
      <i class="fa-solid fa-check text-primary"></i>
      <span>Lorem ipsum dolor sit amet</span>
    </div>
    <div class="flex items-center gap-2">
      <i class="fa-solid fa-check text-primary"></i>
      <span>Lorem ipsum dolor sit amet</span>
    </div>
  </article>
  <article class="flex flex-col justify-center items-center gap-8 my-16">
    <h6 class="font-bold text-[#636869]">TRUSTED BY TEAMS AT</h6>
    <div
      class="flex justify-center items-center flex-wrap opacity-80 pointer-events-none select-none gap-12"
    >
      <div *ngFor="let company of companies">
        <img
          [ngSrc]="company.src"
          [alt]="company.name"
          width="120"
          height="55"
          class="object-cover select-none"
        />
      </div>
    </div>
  </article>
</section>
