<footer class="mt-16">
  <div
    class="flex flex-col justify-between container mx-auto text-[#737778] gap-10 p-4"
  >
    <div class="flex flex-wrap gap-16">
      <div class="flex flex-col gap-3">
        <h3 class="text-[#343140] font-semibold">Features</h3>
        <ul>
          <li
            class="cursor-pointer transition-all ease-in hover:text-[#343140]"
          >
            Lorem ipsum dolor sit amet
          </li>
          <li
            class="cursor-pointer transition-all ease-in hover:text-[#343140]"
          >
            Lorem ipsum dolor sit amet
          </li>
          <li
            class="cursor-pointer transition-all ease-in hover:text-[#343140]"
          >
            Lorem ipsum dolor sit amet
          </li>
          <li
            class="cursor-pointer transition-all ease-in hover:text-[#343140]"
          >
            Lorem ipsum dolor sit amet
          </li>
        </ul>
      </div>
      <div class="flex flex-col gap-3">
        <h3 class="text-[#343140] font-semibold">F.A.Q.</h3>
        <ul>
          <li
            class="cursor-pointer transition-all ease-in hover:text-[#343140]"
          >
            Lorem ipsum dolor sit amet
          </li>
          <li
            class="cursor-pointer transition-all ease-in hover:text-[#343140]"
          >
            Lorem ipsum dolor sit amet
          </li>
          <li
            class="cursor-pointer transition-all ease-in hover:text-[#343140]"
          >
            Lorem ipsum dolor sit amet
          </li>
          <li
            class="cursor-pointer transition-all ease-in hover:text-[#343140]"
          >
            Lorem ipsum dolor sit amet
          </li>
        </ul>
      </div>
    </div>
    <div class="flex flex-col gap-3">
      <div class="flex flex-col gap-1">
        <h3 class="text-[#343140] font-semibold">Support</h3>
        <span>example&#64;saas.com</span>
      </div>
      <div class="flex text-[#343140] gap-2">
        <a href="">
          <div
            class="flex justify-center items-center p-2 rounded-full border border-borderColor cursor-pointer transition-all ease-linear hover:bg-primary hover:text-white"
          >
            <i class="fa-brands fa-linkedin-in"></i>
          </div>
        </a>
        <a href="">
          <div
            class="flex justify-center items-center p-2 rounded-full border border-borderColor cursor-pointer transition-all ease-linear hover:bg-primary hover:text-white"
          >
            <i class="fa-brands fa-x-twitter"></i></div
        ></a>
        <a href="">
          <div
            class="flex justify-center items-center p-2 rounded-full border border-borderColor cursor-pointer transition-all ease-linear hover:bg-primary hover:text-white"
          >
            <i class="fa-brands fa-instagram"></i></div
        ></a>
      </div>
    </div>
    <div class="flex flex-wrap gap-1 text-xs mb-6">
      <span>© 2024 Angular SaaS Starter.</span>
      <span>All rights reserved.</span>
      <span
        >|
        <a class="cursor-pointer hover:underline" routerLink="/"
          >Terms of Use</a
        ></span
      >
      <span
        >|
        <a class="cursor-pointer hover:underline" routerLink="/0"
          >Privacy</a
        ></span
      >
      <span
        >|
        <a class="cursor-pointer hover:underline" routerLink="/"
          >Fair Use Policy</a
        ></span
      >
    </div>
  </div>
</footer>
