<section
  id="features"
  class="bg-white rounded-md border border-borderColor my-12 p-12 mx-3"
>
  <div class="flex flex-col justify-center items-center text-center gap-4 mb-6">
    <h1 class="text-[#343140] text-[38px] lg:text-6xl font-bold select-none">
      What can our software do?
    </h1>
    <p class="font-medium text-[#636869]">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </p>
  </div>
  <div class="flex justify-center flex-wrap gap-6">
    <div class="features-box">
      <i class="fa-regular fa-envelope text-primary"></i>
      <div class="flex flex-col gap-2 mt-2">
        <h6>Lorem Ipsum</h6>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras congue
          mi magna, vel pellentesque libero vestibulum nec.
        </p>
      </div>
    </div>
    <div class="features-box">
      <i class="fa-regular fa-handshake text-primary"></i>
      <div class="flex flex-col gap-2 mt-2">
        <h6>Lorem Ipsum</h6>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras congue
          mi magna, vel pellentesque libero vestibulum nec.
        </p>
      </div>
    </div>
    <div class="features-box">
      <i class="fa-regular fa-comments text-primary"></i>
      <div class="flex flex-col gap-2 mt-2">
        <h6>Lorem Ipsum</h6>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras congue
          mi magna, vel pellentesque libero vestibulum nec.
        </p>
      </div>
    </div>
    <div class="features-box">
      <i class="fa-regular fa-file-lines text-primary"></i>
      <div class="flex flex-col gap-2 mt-2">
        <h6>Lorem Ipsum</h6>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras congue
          mi magna, vel pellentesque libero vestibulum nec.
        </p>
      </div>
    </div>
  </div>
</section>
