<app-navbar />
<main class="container mx-auto">
  <section-hero />
  <section-features />
  <section-pricing />
  <div
    class="flex flex-col items-center justify-center text-center bg-[#343140] text-white min-w-[280px] rounded-xl p-8 gap-10 mx-3 my-6"
  >
    <div class="flex flex-col items-center justify-center gap-3">
      <h3 class="text-[38px] lg:text-5xl font-bold select-none">
        Lorem ipsum dolor sit amet
      </h3>
      <p class="text-xl max-w-[520px]">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras congue mi
        magna, vel pellentesque libero vestibulum nec. Ut interdum nibh in
        rutrum lobortis.
      </p>
    </div>
    <div class="m-button-solid !text-xl !px-4 !py-3">Get started today</div>
  </div>
</main>
<app-footer />
